.hamburger-btn{
    @include flexC(column);
    height: 50px;
    margin: auto; 
    width: 50px;
    z-index:5;

    .hamburger{
        background-color: $landing-text-primary;
        border-radius: 5px;
        height: 5px;
        transition: all .2s ease-in-out;
        width: 40px;

        &::before, &::after{
            background-color: $landing-text-primary;
            border-radius: 5px;
            content: "";
            height: 5px;
            position: absolute;
            transition: all .2s ease-in-out;
            width: 40px;
        }
        &::before{
            transform: translateY(-15px);
        }
        &::after{
            transform: translateY(15px);
        }

        &.open{
            background-color: transparent;

            &::before{
                transform: rotate(45deg);
            }
            &::after{
                transform: rotate(-45deg);
            }
        }
    }
}