@import "./global";

.landing-container{
    column-gap: 10px;
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    height: 100vh;
    position: relative;
    width: 100vw;

    .grid-item-nav{   
        @include flexC(row);     

        @include responsive(mobile){
            @include gridSpan(2, 1, 2, 10);
        }
        @include responsive(tablet){
            @include gridSpan(2, 1, 2, 10);
        }
        @include responsive(desktop){
            @include gridSpan(2, 1, 2, 9);
        }
        @include responsive(large){
            @include gridSpan(2, 1, 2, 9);
        }
    }

    .grid-item-slider{
        @include responsive(mobile){
            @include flexJ(row, flex-end);
            @include gridSpan(3,1,11,1);
        }
        @include responsive(tablet){
            @include flexJ(row, flex-end);
            @include gridSpan(3,1,11,1);
        }
        @include responsive(desktop){
            @include flexJ(row, flex-start);
            @include gridSpan(2,1,11,1);
        }
        @include responsive(large){
            @include flexJ(row, flex-start);
            @include gridSpan(2,1,11,1);
        }
        

        .slider{
            @include flexJA(row,unset,center);
            border-radius: 25px;
            height: 15px;
            padding: 0px 5px;
            transition: background-color 0.2s ease-in-out;
            width: 50px;

            .slider-ball{
                @include flexC(row);
                background-color: $lm-background;
                border-radius: 20px;
                height: 22px;
                position: relative;
                transition: transform 0.2s linear;
                width: 22px;

                .moon-icon{
                    @include flexC(row);
                    font-size: 13px;
                    position: relative;
                }
            }

            &.dark{
                background-color: $dm-neon-green;

                .slider-ball{
                    box-shadow: -5px 0px 3px 0px rgba(0, 0, 0, 0.185);
                    transform: translateX(25px);

                    .moon-icon{
                        color: $dm-background;
                    }
                }
            }
            &.light{
                background-color: $lm-grey;

                .slider-ball{
                    box-shadow: 5px 0px 3px 0px rgba(0, 0, 0, 0.185);
                    transform: translateX(-10px);

                    .moon-icon{
                        color: $lm-accent;
                    }
                }
            }
        }
    } 

    .grid-item-landing-text{
        @include flexJA(column, flex-start, unset);

        @include responsive(mobile){
            @include gridSpan(4,6,2,10);
        }
        @include responsive(tablet){
       
            @include gridSpan(4,6,2,6);
        }
        @include responsive(desktop){
            
            @include gridSpan(5,6,2,5);
        }
        @include responsive(large){
            @include gridSpan(5,6,2,5);
        }

        h1{
            color: $landing-text-primary;
            font-family: 'Roboto', sans-serif;
            font-size: 65px;
            font-weight: 700;
            margin: 0;
            padding:0;
            width: fit-content;
        }
        h2{
            color: $landing-text-accent;
            font-family: 'Lobster Two', cursive;
            font-size: 24px;
            font-style: italic;
            font-weight: 400;
            margin: 0;
            padding: 0;
            width: fit-content;
        }
        p{
            color: $landing-text-primary;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 300;
            margin: 0;
            padding:0;
            padding-top: 20px;
            width: fit-content;
        }
    }

    .grid-item-landing-btn{
        @include flexJ(row,flex-start);
        z-index: 1; 

        @include responsive(mobile){
            @include gridSpan(10,1,2,8);
        }
        @include responsive(tablet){
            @include gridSpan(8,1,2,4);
        }
        @include responsive(desktop){
            @include gridSpan(9,1,2,4);
        }
        @include responsive(large){
            @include gridSpan(9,1,2,4);
        }
    }

    .grid-item-landing-img{
        position: relative;

        @include responsive(mobile){
            @include gridStart(8,13);
        }
        @include responsive(tablet){
            @include gridStart(8,13);
            z-index: 1;
        }
        @include responsive(desktop){
            @include gridStart(6,12);
            z-index: 1;
        }
        @include responsive(large){
            @include gridStart(6,12);
            z-index: 1;
        }
        

        .mockup-img{
            position: absolute;
            right: -250px;
            top: 0;
            transition: all .4s ease-in;

            @include responsive(mobile){
                height: 360px;
                opacity: 0;
                z-index: -5;
                width: 120px;
            }
            @include responsive(tablet){
                height: 342px;
                width: 810px;
            }
            @include responsive(desktop){
                height: 380px;
                width: 900px;
            }
            @include responsive(large){
                height: 380px;
                width: 900px;
            }
        }
    }

    .landing-background{
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
        width: 100vw;
        z-index: -1;

        &.dark{
            background: linear-gradient(0deg, $dm-gradient-l 0%, $dm-gradient-m 50%, $dm-gradient-r 100%);

            .background-bottom path{
                fill:$dm-background;
            }
        }
        &.light{
            background: linear-gradient(0deg, $lm-gradient-l 0%, $lm-gradient-r 100%);

            .background-bottom path{
                fill:$lm-background;
            }
        }

        .background-bottom{
            bottom:-1px;  //this fixes a line that you can see in safari
            left:0;
            position: absolute;  
            width: 100%;
        }

        .landing-stars{
            height: 60vh;
            position: absolute;
            right:0;
            top: 0;
            width: 100vw;

            &.dark{
                display: flex;
            }
            &.light{
                display: none;
            }
        }
    }
}

